In [30]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

Primero cargamos los datasets

In [31]:
test_df = pd.read_csv('test.csv')

train_df = pd.read_csv('train.csv')
train_df

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [32]:
x = train_df['text']
y = train_df['target']

count_vect = CountVectorizer()
tfidf_transformer = TfidfTransformer()

x_train_counts = count_vect.fit_transform(x)
x_train_tfidf = tfidf_transformer.fit_transform(x_train_counts)

Entrenamos KNN

In [34]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(x_train_tfidf, y)

KNeighborsClassifier(n_neighbors=3)

Test

In [40]:
x_test = test_df['text']
x_test_counts = count_vect.transform(x_test)
x_test_tfidf = tfidf_transformer.transform(x_test_counts)
targets = knn.predict(x_test_tfidf)

In [43]:
prediction_df = pd.DataFrame({'target':targets}, index=test_df['id'])
prediction_df

       target
id
0           0
2           1
3           1
9           0
11          1
...       ...
10861       1
10865       0
10868       1
10874       1
10875       1

[3263 rows x 1 columns]

In [44]:
prediction_df.to_csv('knn.csv')